body{
  background:url(Background.jpg);
  background-size: cover;
  font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;  
  color: whitesmoke;  
}
.firts{ 
font-size: 50px; color: whitesmoke  ;
position: absolute; top: 40%; left: 50% ;
transform: translate(-50%, -50%);
}
.second{
  display: inline-flex; 
  font-size: 11px; color: whitesmoke ;
  position: absolute ; top :60%; left: 50%; 
  text-align: center; transform: translate( -50%);
}
.itemiii{border-left:  solid oldlace 1px ; margin-left : 40px; padding-left: 40px; 
}
.itemii{border-left:  solid oldlace 1px ; margin-left: 40px; margin-right : 20px; padding-left : 60px;
}
.itemi{ margin-right: 20px;  
}
.ligne{ margin-left: 60px; top: 4%; position: absolute; 
}
.haut{  text-align: right; color: whitesmoke; padding-bottom: 35px; margin-left: 60px; margin-right: 60px; margin-top: 3%;
       border-bottom: solid oldlace 1px; 
}
.bas{ top: 87%; left: 50%; border: rgb(58, 221, 126) solid ; transform: translate( -40%); color: rgb(58, 221, 126) ;
      border-radius: 28px; width: 125px; height: 23px; position: absolute; text-transform: uppercase; text-align: center;padding-top: 4px;
}
a:link{ text-decoration: none; font-size: 15px; color: whitesmoke; padding : 10px; margin-bottom: 3px; block-size: 2px;       
}
a:hover { color: hotpink ; background-color: whitesmoke;
}
.fa{ color:rgb(58, 221, 126);  font-size: 26px; padding-bottom: 8px;
}
